.homepage-section {
    padding: 4% 8% 0;
}




.product-card {
    width: 100%;
    max-width: 19%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 16px;
    box-sizing: border-box;
    box-shadow: 0 2px 10px; 
    border-radius: 5px;
}

.product-card > a {
    text-decoration: none;
    color: black;
}

.product-image {
    width: 100%;
}

.product-meta {
    box-sizing: border-box;
    padding: 16px;
}

.product-meta > h4 {
    font-weight: 600;
    margin: 0;
    font-size: 16px;
    color:whitesmoke;
}
.product-card:hover {
    box-shadow: 2px 2px 10px whitesmoke;
transform: scale(1.01,1.01);}

.product-meta > h5 {
    font-weight: 600;
    opacity: 0.8;
    margin: 0;
    margin-top: 12px;
    color:whitesmoke;
}

.product-meta > p {
    margin: 0;
    margin-top: 12px;
    font-weight: 600;
    color: whitesmoke;
}   
