.section-heading {
    font-size: 28px;
    font-weight: 600;
    opacity: 0.8;
    color:whitesmoke;
    text-align: center;
    width: 100%;;
    background: linear-gradient(59deg, #3A6073, #16222A);
    
}
.main{
   
    background: linear-gradient(59deg, #3A6073, #16222A);
    
          width: 100%;
          
          display: flex;
    justify-content: start;
    flex-wrap: wrap;
        box-sizing: border-box;
       
        padding-bottom: 20px;
         
}
.btn{
   
    /* height: 80px; */
    
    background-color: black;
    color:white;
    border-radius: 10px;
    
    width:100px

}
.button{padding-left: 100px;
   padding-top: 100px;
    
}